### Open data

In [1]:
%load_ext autotime

import numpy as np
import pandas as pd
from functools import reduce

Uncomment below if you want to clean the data again.

In [2]:
# # open and merge files
# def clean_alpha_files(filenames):
#     new_df = pd.DataFrame()
#     for i in range(len(filenames)):
#         year = filenames[i].split('/')[-1].split('_')[1]
#         temp_df = pd.read_csv(filenames[i],
#                              names=['rpt_rec_num','wksht_cd','line_num','clmn_num','alphnmrc_itm_txt'])
#         temp_df['year'] = year
#         temp_df['rpt_rec_num_year'] = [str(temp_df['rpt_rec_num'][i]) + "_" + str(temp_df['year'][i]) for i in range(len(temp_df))]
#         new_df = new_df.append(temp_df)
#     new_df = new_df.reset_index(drop=True)    
#     return new_df

# def clean_nmrc_files(filenames):
#     new_df = pd.DataFrame()
#     for i in range(len(filenames)):
#         year = filenames[i].split('/')[-1].split('_')[1]
#         temp_df = pd.read_csv(filenames[i],
#                              names=['rpt_rec_num','wksht_cd','line_num','clmn_num','itm_val_num'])
#         temp_df['year'] = year
#         temp_df['rpt_rec_num_year'] = [str(temp_df['rpt_rec_num'][i]) + "_" + str(temp_df['year'][i]) for i in range(len(temp_df))]
#         new_df = new_df.append(temp_df)
#     new_df = new_df.reset_index(drop=True)    
#     return new_df

# def clean_rpt_files(filenames):
#     new_df = pd.DataFrame()
#     for i in range(len(filenames)):
#         year = filenames[i].split('/')[-1].split('_')[1]
#         temp_df = pd.read_csv(filenames[i],
#                               names=['rpt_rec_num', 'prvdr_ctrl_type_cd', 'prvdr_num', 'npi', 'rpt_stus_cd', 
#                                     'fy_bgn_dt', 'fy_end_dt', 'proc_dt', 'initl_rpt_sw', 'last_rpt_sw',
#                                     'trnsmtl_num', 'fi_num', 'adr_vndr_cd', 'fi_creat_dt', 'util_cd', 'npr_dt', 
#                                     'spec_ind', 'fi_rcpt_dt'])
#         temp_df['year'] = year
#         temp_df['rpt_rec_num_year'] = [str(temp_df['rpt_rec_num'][i]) + "_" + str(temp_df['year'][i]) for i in range(len(temp_df))]
#         new_df = new_df.append(temp_df)
        
#     new_df = new_df.reset_index(drop=True)    
#     return new_df

# filenames=['/Users/krhee/Dropbox (ASU)/Coding/RA_Coding/Cost_Reports/FQHC/FQHC14-ALL-YEARS/FQHC14_2016_ALPHA.CSV',
#            '/Users/krhee/Dropbox (ASU)/Coding/RA_Coding/Cost_Reports/FQHC/FQHC14-ALL-YEARS/FQHC14_2017_ALPHA.CSV',
#            '/Users/krhee/Dropbox (ASU)/Coding/RA_Coding/Cost_Reports/FQHC/FQHC14-ALL-YEARS/FQHC14_2018_ALPHA.CSV',
#           '/Users/krhee/Dropbox (ASU)/Coding/RA_Coding/Cost_Reports/FQHC/FQHC14-ALL-YEARS/FQHC14_2019_ALPHA.CSV',
#           '/Users/krhee/Dropbox (ASU)/Coding/RA_Coding/Cost_Reports/FQHC/FQHC14-ALL-YEARS/FQHC14_2020_ALPHA.CSV',]
# alpha_df = clean_alpha_files(filenames)

# filenames=['/Users/krhee/Dropbox (ASU)/Coding/RA_Coding/Cost_Reports/FQHC/FQHC14-ALL-YEARS/FQHC14_2016_NMRC.CSV',
#            '/Users/krhee/Dropbox (ASU)/Coding/RA_Coding/Cost_Reports/FQHC/FQHC14-ALL-YEARS/FQHC14_2017_NMRC.CSV',
#            '/Users/krhee/Dropbox (ASU)/Coding/RA_Coding/Cost_Reports/FQHC/FQHC14-ALL-YEARS/FQHC14_2018_NMRC.CSV',
#           '/Users/krhee/Dropbox (ASU)/Coding/RA_Coding/Cost_Reports/FQHC/FQHC14-ALL-YEARS/FQHC14_2019_NMRC.CSV',
#           '/Users/krhee/Dropbox (ASU)/Coding/RA_Coding/Cost_Reports/FQHC/FQHC14-ALL-YEARS/FQHC14_2020_NMRC.CSV',]
# nmrc_df = clean_nmrc_files(filenames)

# filenames=['/Users/krhee/Dropbox (ASU)/Coding/RA_Coding/Cost_Reports/FQHC/FQHC14-ALL-YEARS/FQHC14_2016_RPT.CSV',
#            '/Users/krhee/Dropbox (ASU)/Coding/RA_Coding/Cost_Reports/FQHC/FQHC14-ALL-YEARS/FQHC14_2017_RPT.CSV',
#            '/Users/krhee/Dropbox (ASU)/Coding/RA_Coding/Cost_Reports/FQHC/FQHC14-ALL-YEARS/FQHC14_2018_RPT.CSV',
#           '/Users/krhee/Dropbox (ASU)/Coding/RA_Coding/Cost_Reports/FQHC/FQHC14-ALL-YEARS/FQHC14_2019_RPT.CSV',
#           '/Users/krhee/Dropbox (ASU)/Coding/RA_Coding/Cost_Reports/FQHC/FQHC14-ALL-YEARS/FQHC14_2020_RPT.CSV',]
# rpt_df = clean_rpt_files(filenames)

# alpha_df['wksht_cd_1'] = [str(i)[0] for i in alpha_df['wksht_cd']]
# nmrc_df['wksht_cd_1'] = [str(i)[0] for i in nmrc_df['wksht_cd']]

# Provider DF
# provider_df = pd.read_csv(r'/Users/krhee/Dropbox (ASU)/Coding/RA_Coding/Cost_Reports/FQHC/FQHC14-REPORTS/FQHC14_PRVDR_ID_INFO.CSV')
provider_df = pd.read_csv(r'/Users/krhee/Dropbox (ASU)/Coding/RA_Coding/Cost_Reports/FQHC/FQHC14-REPORTS/my_FQHC14_PRVDR_ID_INFO.csv')
provider_df.columns = [i.lower() for i in provider_df.columns]                 
provider_df.loc[:,'zip']=provider_df.loc[:,'zip'].astype(str)
provider_df['zip'] = [i.split('-')[0] for i in provider_df['zip']]
provider_df['zip_5'] = [i[:5] for i in provider_df['zip']]
provider_df = provider_df[provider_df['zip_5']!='nan'].reset_index(drop=True)
provider_df.loc[:,'zip_5']=provider_df.loc[:,'zip_5'].astype(int)

provider_df = provider_df[~provider_df['state'].isin(['AK', 'AS', 'FM', 'GA', 'MH', 'MP', 'PR', 'PW', 'VI'])].reset_index(drop=True)

# # Save data files
# alpha_df.to_csv(r'fqhc_alpha_2016_2020.csv', index=False)
# nmrc_df.to_csv(r'fqhc_nmrc_2016_2020.csv', index=False)
# rpt_df.to_csv(r'fqhc_rpt_2016_2020.csv', index=False)

# # Open data files
alpha_df = pd.read_csv(r'/Users/krhee/Dropbox (ASU)/Coding/RA_Coding/Cost_Reports/FQHC/fqhc_alpha_2016_2020.csv')
nmrc_df = pd.read_csv(r'/Users/krhee/Dropbox (ASU)/Coding/RA_Coding/Cost_Reports/FQHC/fqhc_nmrc_2016_2020.csv')
rpt_df = pd.read_csv(r'/Users/krhee/Dropbox (ASU)/Coding/RA_Coding/Cost_Reports/FQHC/fqhc_rpt_2016_2020.csv')

time: 3.52 s

In [3]:
alpha_df_copy = alpha_df.copy()
nmrc_df_copy = nmrc_df.copy()
rpt_df_copy = rpt_df.copy()
provider_df_copy = provider_df.copy()

time: 328 ms

#### Find way to link UDS tele & cost report

In [8]:
tele_df = pd.read_csv(r'/Users/krhee/Dropbox (ASU)/Coding/RA_Coding/HRSA_UDS/220409_tele_hc_df.csv')
tele_df['zip_3'] = [str(i)[:3] for i in tele_df['zip_code']]
toy_tele_df = tele_df[['bhcmisid','year','zip_code','zip_3','health_center_state','hc_name','hc_address','city']].drop_duplicates().reset_index(drop=True)
provider_df['zip_3'] = [str(i)[:3] for i in provider_df['zip_5']]

time: 60.7 ms

In [13]:
temp_df = pd.merge(toy_tele_df.rename(columns={'health_center_state':'state',
                                              'hc_name':'hc_name_tele','hc_address':'hc_address_tele','city':'city_tele'}), 
                   provider_df.rename(columns={'name':'fqhc14_name_cr','addr':'street_addr_cr','city':'city_cr'}), 
                   on=['state','zip_3','year'], how='outer')
temp_df = temp_df[~temp_df['prvdr_num'].isna()].reset_index(drop=True)
temp_df = temp_df[~temp_df['bhcmisid'].isna()].reset_index(drop=True)
temp_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41836 entries, 0 to 41835
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   bhcmisid          41836 non-null  object
 1   year              41836 non-null  int64
 2   zip_code          41836 non-null  float64
 3   zip_3             41836 non-null  object
 4   state             41836 non-null  object
 5   hc_name_tele      41836 non-null  object
 6   hc_address_tele   41836 non-null  object
 7   city_tele         41836 non-null  object
 8   rpt_rec_num_year  41836 non-null  object
 9   fqhc14_name_cr    41836 non-null  object
 10  ccn               41836 non-null  float64
 11  cbsa              29797 non-null  float64
 12  ctrl              39734 non-null  float64
 13  street_addr_cr    41836 non-null  object
 14  city_cr           41834 non-null  object
 15  zip               41836 non-null  object
 16  cnty              41716 non-null  object
 17  rural             29797 non-null  object
 18  prvdr_num         41836 non-null  float64
 19  zip_5             41836 non-null  float64
dtypes: float64(6), int64(1), object(13)
memory usage: 6.4+ MB
time: 126 ms

In [20]:
del_df = temp_df[['bhcmisid','year','prvdr_num','hc_name_tele','fqhc14_name_cr','hc_address_tele','street_addr_cr']].drop_duplicates().reset_index(drop=True)
del_df['hc_name_tele'] = [(((i.lower()).replace(",","")).replace(" ","")).replace(".","") for i in del_df['hc_name_tele']]
del_df['fqhc14_name_cr'] = [(((i.lower()).replace(",","")).replace(" ","")).replace(".","") for i in del_df['fqhc14_name_cr']]
del_df['hc_address_tele'] = [(((i.lower()).replace(",","")).replace(" ","")).replace(".","") for i in del_df['hc_address_tele']]
del_df['street_addr_cr'] = [(((i.lower()).replace(",","")).replace(" ","")).replace(".","") for i in del_df['street_addr_cr']]
# 어느 정도 정확한 애들만 갖고 하기
del_df['hc_name_tele_3'] = [i[:3] for i in del_df['hc_name_tele']]
del_df['fqhc14_name_cr_3'] = [i[:3] for i in del_df['fqhc14_name_cr']]
del_df['hc_address_tele_3'] = [i[:3] for i in del_df['hc_address_tele']]
del_df['street_addr_cr_3'] = [i[:3] for i in del_df['street_addr_cr']]
del_df = del_df[~((del_df['hc_name_tele_3']!=del_df['fqhc14_name_cr_3'])&(del_df['hc_address_tele_3']!=del_df['street_addr_cr_3']))].reset_index(drop=True)

time: 255 ms

In [21]:
new_df = pd.merge(del_df[['bhcmisid','prvdr_num','year']], temp_df, on=['bhcmisid','prvdr_num','year'])

time: 26.8 ms

In [24]:
bhcmisid_prvdr_num_df = new_df.copy()

time: 5.69 ms

#### provider 들에 대한 health center 정보 찾기

In [25]:
bhcmisid_list = bhcmisid_prvdr_num_df.bhcmisid.values.tolist()

def open_file(filenames, sheet_name):
    new_df = pd.DataFrame()
    for i in range(len(filenames)):
        temp_df = pd.read_excel(filenames[i], sheet_name=sheet_name)
        year = filenames[i].split('-')[1]
        temp_df['year'] = year
        new_df = new_df.append(temp_df)
    new_df = new_df.reset_index(drop=True)
    return new_df

filenames = ['/Users/krhee/Dropbox (ASU)/Coding/RA_Coding/HRSA_UDS/UDS-2016-Full-Dataset.xlsx',
             '/Users/krhee/Dropbox (ASU)/Coding/RA_Coding/HRSA_UDS/UDS-2017-Full-Dataset.xlsx',
             '/Users/krhee/Dropbox (ASU)/Coding/RA_Coding/HRSA_UDS/UDS-2018-Full-Dataset.xlsx',
             '/Users/krhee/Dropbox (ASU)/Coding/RA_Coding/HRSA_UDS/UDS-2019-Full-Dataset.xlsx',
             '/Users/krhee/Dropbox (ASU)/Coding/RA_Coding/HRSA_UDS/UDS-2020-Full-Dataset.xlsx']
             
hc_df = open_file(filenames, sheet_name='HealthCenterInfo')
hc_df.columns = [i.lower().replace(' ', '_') for i in hc_df.columns]
hc_df.columns = [i.replace('.', '') for i in hc_df.columns]
hc_df.columns = [i.replace('-', '') for i in hc_df.columns]

# health center name
hc_df['hc_name'] = [i.replace(" ", "") for i in hc_df['health_center_name']]
hc_df['hc_name'] = [i.lower() for i in hc_df['hc_name']]
# addresses of health centers
hc_df['street_addr'] = [str(i).lower() for i in hc_df['health_center_street_address']]
hc_df['city'] = [str(i).lower() for i in hc_df['health_center_city']]
hc_df['zip_code'] = [str(i)[:5] for i in hc_df['health_center_zip_code']]
hc_df['hc_address'] = [str(hc_df['street_addr'][i])+", "+str(hc_df['city'][i])+", "+str(hc_df['health_center_state'][i])+" "+str(hc_df['zip_code'][i]) for i in range(len(hc_df))]

hc_df = hc_df[~hc_df['health_center_state'].isin(['AK', 'AS', 'FM', 'GA', 'MH', 'MP', 'PR', 'PW', 'VI'])].reset_index(drop=True)

# filter
hc_df = hc_df[hc_df['bhcmis_id'].isin(bhcmisid_list)].reset_index(drop=True)

/var/folders/ff/7xvchf4558v3w_jjs11bdwlw0000gp/T/ipykernel_49818/2619250093.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_df = new_df.append(temp_df)
/var/folders/ff/7xvchf4558v3w_jjs11bdwlw0000gp/T/ipykernel_49818/2619250093.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_df = new_df.append(temp_df)
/var/folders/ff/7xvchf4558v3w_jjs11bdwlw0000gp/T/ipykernel_49818/2619250093.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_df = new_df.append(temp_df)
/var/folders/ff/7xvchf4558v3w_jjs11bdwlw0000gp/T/ipykernel_49818/2619250093.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_df = new_df.append(temp_df)

time: 8.33 s

/var/folders/ff/7xvchf4558v3w_jjs11bdwlw0000gp/T/ipykernel_49818/2619250093.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_df = new_df.append(temp_df)

In [26]:
# Depression quality of care
hc_qoc_df = pd.DataFrame()
for i in range(len(filenames)):
    temp_df = pd.read_excel(filenames[i], sheet_name="Table6BClinicalmeasures", usecols=['BHCMIS ID',
                                                                          '% Patients Screened for Depression and Followup Plan Documented as Appropriate'])
    year = filenames[i].split('-')[1]
    temp_df['year']=year
    hc_qoc_df = hc_qoc_df.append(temp_df).reset_index(drop=True)
    
hc_qoc_df.columns = [i.lower().replace(' ', '_') for i in hc_qoc_df.columns]
hc_qoc_df.columns = [i.replace('.', '') for i in hc_qoc_df.columns]
hc_qoc_df.columns = [i.replace('-', '') for i in hc_qoc_df.columns]
hc_qoc_df = hc_qoc_df[hc_qoc_df['bhcmis_id']!="BHCMISID"].reset_index(drop=True)
hc_qoc_df = hc_qoc_df[hc_qoc_df['bhcmis_id'].isin(bhcmisid_list)].reset_index(drop=True)

hc_qoc_df.columns = ['bhcmis_id','pct_depression_screened_and_followup','year']

hc_qoc_df = hc_qoc_df.replace(to_replace={'-':np.nan},regex=True)

/var/folders/ff/7xvchf4558v3w_jjs11bdwlw0000gp/T/ipykernel_49818/3632693663.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  hc_qoc_df = hc_qoc_df.append(temp_df).reset_index(drop=True)
/var/folders/ff/7xvchf4558v3w_jjs11bdwlw0000gp/T/ipykernel_49818/3632693663.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  hc_qoc_df = hc_qoc_df.append(temp_df).reset_index(drop=True)
/var/folders/ff/7xvchf4558v3w_jjs11bdwlw0000gp/T/ipykernel_49818/3632693663.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  hc_qoc_df = hc_qoc_df.append(temp_df).reset_index(drop=True)
/var/folders/ff/7xvchf4558v3w_jjs11bdwlw0000gp/T/ipykernel_49818/3632693663.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  hc_qoc_df = hc_qoc_df.append(temp_df).reset_index(drop=True)

time: 8.42 s

/var/folders/ff/7xvchf4558v3w_jjs11bdwlw0000gp/T/ipykernel_49818/3632693663.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  hc_qoc_df = hc_qoc_df.append(temp_df).reset_index(drop=True)

#### Link 가능한 provider number 들에 대한 employee 정보 다 찾기

In [27]:
prvdr_num_list = bhcmisid_prvdr_num_df.prvdr_num.values.tolist()

# RPT DF
rpt_df = rpt_df[rpt_df['prvdr_num'].isin(prvdr_num_list)].reset_index(drop=True)
rpt_rec_num_year_list = sorted(list(set(rpt_df.rpt_rec_num_year.values.tolist())))

# NMRC DF
nmrc_df = nmrc_df[nmrc_df['rpt_rec_num_year'].isin(rpt_rec_num_year_list)].reset_index(drop=True)

# ALPHA DF
alpha_df = alpha_df[alpha_df['rpt_rec_num_year'].isin(rpt_rec_num_year_list)].reset_index(drop=True)

time: 673 ms

In [28]:
nmrc_df_s3 = nmrc_df[nmrc_df['wksht_cd']=='S300002'].reset_index(drop=True)
physician_df = nmrc_df_s3[nmrc_df_s3['line_num']==1600]
physician_df = physician_df[['rpt_rec_num_year','clmn_num','itm_val_num']].pivot(index='rpt_rec_num_year', columns='clmn_num', values='itm_val_num').reset_index(level=[0])
physician_df.columns=['rpt_rec_num_year','num_hours','staff_physician','contract_physician','total_physician']
physician_df = physician_df.drop(columns=['num_hours'])

pa_df = nmrc_df_s3[nmrc_df_s3['line_num']==1700]
pa_df = pa_df[['rpt_rec_num_year','clmn_num','itm_val_num']].pivot(index='rpt_rec_num_year', columns='clmn_num', values='itm_val_num').reset_index(level=[0])
pa_df.columns=['rpt_rec_num_year','staff_pa','contract_pa','total_pa']

np_df = nmrc_df_s3[nmrc_df_s3['line_num']==1800]
np_df = np_df[['rpt_rec_num_year','clmn_num','itm_val_num']].pivot(index='rpt_rec_num_year', columns='clmn_num', values='itm_val_num').reset_index(level=[0])
np_df.columns=['rpt_rec_num_year','staff_np','contract_np','total_np']

psy_df = nmrc_df_s3[nmrc_df_s3['line_num']==2200]
psy_df = psy_df[['rpt_rec_num_year','clmn_num','itm_val_num']].pivot(index='rpt_rec_num_year', columns='clmn_num', values='itm_val_num').reset_index(level=[0])
psy_df.columns=['rpt_rec_num_year','staff_psy','contract_psy','total_psy']

sw_df = nmrc_df_s3[nmrc_df_s3['line_num']==2300]
sw_df = sw_df[['rpt_rec_num_year','clmn_num','itm_val_num']].pivot(index='rpt_rec_num_year', columns='clmn_num', values='itm_val_num').reset_index(level=[0])
sw_df.columns=['rpt_rec_num_year','staff_sw','contract_sw','total_sw']

employee_df = reduce(lambda x,y: pd.merge(x, y, on='rpt_rec_num_year', how='outer'), [physician_df, pa_df, np_df, psy_df, sw_df])
employee_df = employee_df.fillna(0)

time: 222 ms

#### Link 가능한 provider number 들에 대한 visit 정보 다 찾기

In [29]:
prvdr_num_list = bhcmisid_prvdr_num_df.prvdr_num.values.tolist()

# RPT DF
rpt_df = rpt_df[rpt_df['prvdr_num'].isin(prvdr_num_list)].reset_index(drop=True)
rpt_rec_num_year_list = sorted(list(set(rpt_df.rpt_rec_num_year.values.tolist())))

# NMRC DF
nmrc_df = nmrc_df[nmrc_df['rpt_rec_num_year'].isin(rpt_rec_num_year_list)].reset_index(drop=True)

# ALPHA DF
alpha_df = alpha_df[alpha_df['rpt_rec_num_year'].isin(rpt_rec_num_year_list)].reset_index(drop=True)

time: 583 ms

In [30]:
medical_visit_df = nmrc_df[(nmrc_df['wksht_cd']=='S300001')&(nmrc_df['clmn_num']==500)&(nmrc_df['line_num']>=200)&(nmrc_df['line_num']<300)]
mental_visit_df = nmrc_df[(nmrc_df['wksht_cd']=='S300001')&(nmrc_df['clmn_num']==500)&(nmrc_df['line_num']>=400)&(nmrc_df['line_num']<500)]

medical_visit_df = medical_visit_df[['rpt_rec_num_year','clmn_num','itm_val_num']].pivot(index='rpt_rec_num_year', columns='clmn_num', values='itm_val_num').reset_index(level=[0])
medical_visit_df.columns = ['rpt_rec_num_year','total_medical_visits']
mental_visit_df = mental_visit_df[['rpt_rec_num_year','clmn_num','itm_val_num']].pivot(index='rpt_rec_num_year', columns='clmn_num', values='itm_val_num').reset_index(level=[0])
mental_visit_df.columns = ['rpt_rec_num_year','total_mental_visits']

time: 275 ms

#### Link 가능한 provider number 들에 대한 telehealth cost 정보 다 찾기

In [31]:
alpha_df = alpha_df_copy.copy()
nmrc_df = nmrc_df_copy.copy()
rpt_df = rpt_df_copy.copy()
provider_df = provider_df_copy.copy()

time: 490 ms

In [32]:
prvdr_num_list = bhcmisid_prvdr_num_df.prvdr_num.values.tolist()

# RPT DF
rpt_df = rpt_df[rpt_df['prvdr_num'].isin(prvdr_num_list)].reset_index(drop=True)
rpt_rec_num_year_list = sorted(list(set(rpt_df.rpt_rec_num_year.values.tolist())))

# NMRC DF
nmrc_df = nmrc_df[nmrc_df['rpt_rec_num_year'].isin(rpt_rec_num_year_list)].reset_index(drop=True)

# ALPHA DF
alpha_df = alpha_df[alpha_df['rpt_rec_num_year'].isin(rpt_rec_num_year_list)].reset_index(drop=True)

time: 579 ms

In [33]:
tele_cost_df = nmrc_df[(nmrc_df['wksht_cd']=='A000000')&(nmrc_df['line_num']==6600)&(nmrc_df['clmn_num']==700)].reset_index(drop=True)

tele_cost_df = tele_cost_df[['rpt_rec_num_year','clmn_num','itm_val_num']].pivot(index='rpt_rec_num_year', columns='clmn_num', values='itm_val_num').reset_index(level=[0])
tele_cost_df.columns = ['rpt_rec_num_year','telehealth_expense']

time: 116 ms

#### Link 가능한 provider number 들에 대한 revenue 정보 다 찾기

In [34]:
alpha_df = alpha_df_copy.copy()
nmrc_df = nmrc_df_copy.copy()
rpt_df = rpt_df_copy.copy()
provider_df = provider_df_copy.copy()

time: 126 ms

In [35]:
prvdr_num_list = bhcmisid_prvdr_num_df.prvdr_num.values.tolist()

# RPT DF
rpt_df = rpt_df[rpt_df['prvdr_num'].isin(prvdr_num_list)].reset_index(drop=True)
rpt_rec_num_year_list = sorted(list(set(rpt_df.rpt_rec_num_year.values.tolist())))

# NMRC DF
nmrc_df = nmrc_df[nmrc_df['rpt_rec_num_year'].isin(rpt_rec_num_year_list)].reset_index(drop=True)

# ALPHA DF
alpha_df = alpha_df[alpha_df['rpt_rec_num_year'].isin(rpt_rec_num_year_list)].reset_index(drop=True)

time: 536 ms

In [36]:
patient_rev_df = nmrc_df[(nmrc_df['wksht_cd']=='F100000')&(nmrc_df['line_num']==100)&(nmrc_df['clmn_num']==400)].reset_index(drop=True)

patient_rev_df = patient_rev_df[['rpt_rec_num_year','clmn_num','itm_val_num']].pivot(index='rpt_rec_num_year', columns='clmn_num', values='itm_val_num').reset_index(level=[0])
patient_rev_df.columns = ['rpt_rec_num_year','gross_revenue']

time: 150 ms

In [37]:
cr_df = reduce(lambda x,y: pd.merge(x, y, on='rpt_rec_num_year', how='outer'), [employee_df,
                                                                                medical_visit_df,
                                                                                mental_visit_df,
                                                                                tele_cost_df,
                                                                                patient_rev_df])
cr_df = cr_df.fillna(0)

time: 20.8 ms

In [38]:
len(cr_df), len(bhcmisid_prvdr_num_df)

(5591, 7649)

time: 2.03 ms

In [39]:
temp_df = pd.merge(cr_df, provider_df, on=['rpt_rec_num_year'], how='outer')
temp_df = temp_df[~temp_df['staff_physician'].isna()].reset_index(drop=True)
# 한 prvdr_num&year 에 한 리포트만 있는 애들로만 구성하고싶음
del_df = temp_df.groupby(['prvdr_num','year']).nunique().sort_values(by=['staff_physician']).reset_index(level=[0,1])#.to_frame()
del_df = del_df[del_df['rpt_rec_num_year']==1][['prvdr_num','year']]
temp_df = pd.merge(temp_df,del_df, on=['prvdr_num','year'])

new_df = pd.merge(temp_df,bhcmisid_prvdr_num_df[['bhcmisid','prvdr_num','year']], on=['prvdr_num','year'],how='outer')
new_df = new_df[~new_df['rpt_rec_num_year'].isna()].reset_index(drop=True)
new_df = new_df[~new_df['bhcmisid'].isna()].reset_index(drop=True)
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5734 entries, 0 to 5733
Data columns (total 34 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   rpt_rec_num_year      5734 non-null   object
 1   staff_physician       5734 non-null   float64
 2   contract_physician    5734 non-null   float64
 3   total_physician       5734 non-null   float64
 4   staff_pa              5734 non-null   float64
 5   contract_pa           5734 non-null   float64
 6   total_pa              5734 non-null   float64
 7   staff_np              5734 non-null   float64
 8   contract_np           5734 non-null   float64
 9   total_np              5734 non-null   float64
 10  staff_psy             5734 non-null   float64
 11  contract_psy          5734 non-null   float64
 12  total_psy             5734 non-null   float64
 13  staff_sw              5734 non-null   float64
 14  contract_sw           5734 non-null   float64
 15  total_sw              5734 non-null   float64
 16  total_medical_visits  5734 non-null   float64
 17  total_mental_visits   5734 non-null   float64
 18  telehealth_expense    5734 non-null   float64
 19  gross_revenue         5734 non-null   float64
 20  name                  5734 non-null   object
 21  ccn                   5734 non-null   float64
 22  cbsa                  5734 non-null   float64
 23  ctrl                  5734 non-null   float64
 24  addr                  5734 non-null   object
 25  city                  5733 non-null   object
 26  state                 5734 non-null   object
 27  zip                   5734 non-null   object
 28  cnty                  5731 non-null   object
 29  rural                 5734 non-null   object
 30  prvdr_num             5734 non-null   float64
 31  year                  5734 non-null   int64
 32  zip_5                 5734 non-null   float64
 33  bhcmisid              5734 non-null   object
dtypes: float64(24), int64(1), object(9)
memory usage: 1.5+ MB
time: 104 ms

In [40]:
tele_df.loc[:,'year']=tele_df.loc[:,'year'].astype(int)
new_df.loc[:,'year']=new_df.loc[:,'year'].astype(int)
new_df['total_all'] = new_df['total_physician']+new_df['total_pa']+new_df['total_np']+new_df['total_psy']+new_df['total_sw']

time: 3.37 ms

In [41]:
temp_df = pd.merge(new_df, tele_df[['bhcmisid','year','use_telehealth','use_mental_tele']], on=['bhcmisid','year'], how='outer')
temp_df = temp_df[~temp_df['rpt_rec_num_year'].isna()].reset_index(drop=True)
temp_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5734 entries, 0 to 5733
Data columns (total 37 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   rpt_rec_num_year      5734 non-null   object
 1   staff_physician       5734 non-null   float64
 2   contract_physician    5734 non-null   float64
 3   total_physician       5734 non-null   float64
 4   staff_pa              5734 non-null   float64
 5   contract_pa           5734 non-null   float64
 6   total_pa              5734 non-null   float64
 7   staff_np              5734 non-null   float64
 8   contract_np           5734 non-null   float64
 9   total_np              5734 non-null   float64
 10  staff_psy             5734 non-null   float64
 11  contract_psy          5734 non-null   float64
 12  total_psy             5734 non-null   float64
 13  staff_sw              5734 non-null   float64
 14  contract_sw           5734 non-null   float64
 15  total_sw              5734 non-null   float64
 16  total_medical_visits  5734 non-null   float64
 17  total_mental_visits   5734 non-null   float64
 18  telehealth_expense    5734 non-null   float64
 19  gross_revenue         5734 non-null   float64
 20  name                  5734 non-null   object
 21  ccn                   5734 non-null   float64
 22  cbsa                  5734 non-null   float64
 23  ctrl                  5734 non-null   float64
 24  addr                  5734 non-null   object
 25  city                  5733 non-null   object
 26  state                 5734 non-null   object
 27  zip                   5734 non-null   object
 28  cnty                  5731 non-null   object
 29  rural                 5734 non-null   object
 30  prvdr_num             5734 non-null   float64
 31  year                  5734 non-null   int64
 32  zip_5                 5734 non-null   float64
 33  bhcmisid              5734 non-null   object
 34  total_all             5734 non-null   float64
 35  use_telehealth        5734 non-null   object
 36  use_mental_tele       5734 non-null   int64
dtypes: float64(25), int64(2), object(10)
memory usage: 1.6+ MB
time: 31.2 ms

In [42]:
new_hc_df = pd.merge(hc_df[['bhcmis_id','year','health_center_state']],
                     hc_qoc_df, on=['bhcmis_id','year'])

time: 8.59 ms

In [43]:
new_hc_df.loc[:,'year']=new_hc_df.loc[:,'year'].astype(int)
temp_df.loc[:,'year']=temp_df.loc[:,'year'].astype(int)

time: 3.34 ms

In [44]:
new_df = pd.merge(temp_df.rename(columns={'bhcmisid':'bhcmis_id'}), new_hc_df, on=['bhcmis_id','year'], how='outer')
new_df = new_df[~new_df['staff_physician'].isna()].reset_index(drop=True)
new_df = new_df[~new_df['use_telehealth'].isna()].reset_index(drop=True)
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5734 entries, 0 to 5733
Data columns (total 39 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   rpt_rec_num_year                      5734 non-null   object
 1   staff_physician                       5734 non-null   float64
 2   contract_physician                    5734 non-null   float64
 3   total_physician                       5734 non-null   float64
 4   staff_pa                              5734 non-null   float64
 5   contract_pa                           5734 non-null   float64
 6   total_pa                              5734 non-null   float64
 7   staff_np                              5734 non-null   float64
 8   contract_np                           5734 non-null   float64
 9   total_np                              5734 non-null   float64
 10  staff_psy                             5734 non-null   float64
 11  contract_psy                          5734 non-null   float64
 12  total_psy                             5734 non-null   float64
 13  staff_sw                              5734 non-null   float64
 14  contract_sw                           5734 non-null   float64
 15  total_sw                              5734 non-null   float64
 16  total_medical_visits                  5734 non-null   float64
 17  total_mental_visits                   5734 non-null   float64
 18  telehealth_expense                    5734 non-null   float64
 19  gross_revenue                         5734 non-null   float64
 20  name                                  5734 non-null   object
 21  ccn                                   5734 non-null   float64
 22  cbsa                                  5734 non-null   float64
 23  ctrl                                  5734 non-null   float64
 24  addr                                  5734 non-null   object
 25  city                                  5733 non-null   object
 26  state                                 5734 non-null   object
 27  zip                                   5734 non-null   object
 28  cnty                                  5731 non-null   object
 29  rural                                 5734 non-null   object
 30  prvdr_num                             5734 non-null   float64
 31  year                                  5734 non-null   int64
 32  zip_5                                 5734 non-null   float64
 33  bhcmis_id                             5734 non-null   object
 34  total_all                             5734 non-null   float64
 35  use_telehealth                        5734 non-null   object
 36  use_mental_tele                       5734 non-null   float64
 37  health_center_state                   5734 non-null   object
 38  pct_depression_screened_and_followup  5731 non-null   float64
dtypes: float64(27), int64(1), object(11)
memory usage: 1.7+ MB
time: 32 ms

In [45]:
new_df

,rpt_rec_num_year,staff_physician,contract_physician,total_physician,staff_pa,contract_pa,total_pa,staff_np,contract_np,total_np,...,rural,prvdr_num,year,zip_5,bhcmis_id,total_all,use_telehealth,use_mental_tele,health_center_state,pct_depression_screened_and_followup
0,10000_2017,0.03,0.00,0.03,0.0,0.0,0.0,1.26,0.0,1.26,...,U,361061.0,2017,43605.0,051780,1.29,Yes,0.0,OH,50.47
1,15390_2017,0.03,0.00,0.03,0.0,0.0,0.0,1.26,0.0,1.26,...,U,361105.0,2017,43604.0,051780,1.29,Yes,0.0,OH,50.47
2,15469_2017,1.31,0.42,1.73,0.0,0.0,0.0,1.19,0.0,1.19,...,U,361823.0,2017,43604.0,051780,2.92,Yes,0.0,OH,50.47
3,10001_2017,0.00,0.00,0.00,0.0,0.0,0.0,1.50,0.0,1.50,...,U,361124.0,2017,44077.0,05E01247,2.00,Yes,1.0,OH,67.72
4,10002_2017,4.53,0.58,5.11,0.0,0.0,0.0,4.03,0.0,4.03,...,U,361128.0,2017,44094.0,05E01247,20.80,Yes,1.0,OH,67.72
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5729,8769_2016,0.00,0.00,0.00,0.0,0.0,0.0,0.00,0.0,0.00,...,U,101842.0,2016,33525.0,045500,0.00,No,0.0,FL,40.47
5730,8778_2016,0.00,0.00,0.00,0.0,0.0,0.0,0.00,0.0,0.00,...,R,431809.0,2016,57349.0,081030,0.00,Yes,1.0,SD,88.70
5731,8901_2016,0.00,0.00,0.00,0.0,0.0,0.0,0.00,0.0,0.00,...,R,371836.0,2016,73460.0,0614360,0.00,Yes,0.0,OK,68.55
5732,8922_2016,0.00,0.00,0.00,0.0,0.0,0.0,0.00,0.0,0.00,...,R,61930.0,2016,81425.0,08E00518,0.00,No,0.0,CO,95.92
5733,9245_2016,0.00,0.00,0.00,0.0,0.0,0.0,0.00,0.0,0.00,...,R,671881.0,2016,79843.0,0627260,0.00,No,0.0,TX,57.17

time: 29.6 ms

In [46]:
new_df.to_csv(r'final_panel_tele_hc_cr_df_2.csv', index=False)

time: 126 ms

In [47]:
new_df.groupby(['prvdr_num']).nunique().sort_values(by=['year'])[['year']]

           year
prvdr_num
181168.0      1
131869.0      1
391092.0      1
681041.0      1
681049.0      1
...         ...
441858.0      5
441863.0      5
221815.0      5
441800.0      5
11012.0       5

[1528 rows x 1 columns]

time: 54.8 ms

In [48]:
new_df[new_df['prvdr_num']==11012]

,rpt_rec_num_year,staff_physician,contract_physician,total_physician,staff_pa,contract_pa,total_pa,staff_np,contract_np,total_np,...,rural,prvdr_num,year,zip_5,bhcmis_id,total_all,use_telehealth,use_mental_tele,health_center_state,pct_depression_screened_and_followup
1551,15185_2018,8.34,0.77,9.11,0.0,0.0,0.0,7.00,0.0,7.00,...,U,11012.0,2018,35212.0,04E01095,16.11,No,0.0,AL,70.47
2929,20287_2019,10.11,0.06,10.17,0.0,0.0,0.0,6.11,0.0,6.11,...,U,11012.0,2019,35212.0,04E01095,17.74,No,0.0,AL,68.25
4167,24579_2020,10.99,0.00,10.99,0.0,0.0,0.0,5.82,0.0,5.82,...,U,11012.0,2020,35212.0,04E01095,16.81,Yes,1.0,AL,34.53
4965,5527_2016,2.47,0.04,2.51,0.0,0.0,0.0,4.03,0.0,4.03,...,U,11012.0,2016,35212.0,04E01095,6.54,No,0.0,AL,68.64
5649,9874_2017,1.95,0.00,1.95,0.0,0.0,0.0,5.29,0.0,5.29,...,U,11012.0,2017,35212.0,04E01095,7.24,No,0.0,AL,69.39

time: 21.1 ms